@{
    ViewBag.Title = "EmailCheck";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Styling for the confirmation message */
    p {
        font-size: 20px;
        color: #333;
        font-family: Arial, sans-serif;
        text-align: center;
    }

    /* Styling for the link */
    a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

        /* Change link color on hover */
        a:hover {
            color: #0056b3;
        }
</style>

<p>Nhấn <a href="https://mail.google.com/">vào đây</a> để xác nhận Email </p>
